<!DOCTYPE html>
<html>
<head>
    <title>Iris - Model prediction</title>
</head>
<body>
    <h2>Introduce the values</h2>
    
    <form action="/" method="post">
        battery_power: <input type="number" step="any" name="val1" required><br><br>
        clock_speed: <input type="number" step="any" name="val2" required><br><br>
        dual_sim: <input type="number" step="any" name="val3" required><br><br>
        four_g: <input type="number" step="any" name="val4" required><br><br>
        int_memory: <input type="number" step="any" name="val5" required><br><br>
        n_cores: <input type="number" step="any" name="val6" required><br><br>
        ram: <input type="number" step="any" name="val7" required><br><br>
        touch_screen= <input type="number" step="any" name="val8" required><br><br>
        wifi= <input type="number" step="any" name="val9" required><br><br>
        <input type="submit" value="price_range">
    </form>
    
    {% if prediction != None %}
        <h3>Prediction: {{ prediction }}</h3>
    {% endif %}
</body>
</html>